/* COLOR & SPACING VARIABLES */
:root {
  --spaceBetweenSections: 30px;
  --spaceBetweenBlocks: 20px;
  --darkBlue: rgb(11, 19, 43);
  --greyBlue: #70778d;
  --middleBlue: rgb(28, 37, 65);
  --flashBlue: #5bc0be;
  --lightGrey: #f2f7fa;
  --red: rgb(252, 80, 80);
  --hoveredRed: rgb(194, 62, 62);
  --radius: 10px;
  --miniRadius: 5px;
  --navWidth: 250px;
  --headerHeight: 60px;
}

/* MAIN */
* {
  box-sizing: border-box;
}

main {
  background-image: url('/background/home5-empty-nogainz_ckhcwa.jpg');
  background-position: center;
  background-size: cover;
  width: calc(100vw - var(--navWidth));
  min-height: calc(100vh - var(--headerHeight));
}

.mainSignin {
  background-color: white;
  width: 100vw;
}

.page-container {
  width: calc(100vw - var(--navWidth));
  min-height: calc(100vh - var(--headerHeight));
  padding: var(--spaceBetweenBlocks);
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
html,
input,
textarea,
button {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}
body,
input,
button,
textarea {
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: var(--middleBlue);
}

/* TITLES */
h1 {
  color: var(--middleBlue);
  display: block;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}
h2 {
  color: var(--middleBlue);
  display: block;
  font-size: 1.6rem;
  line-height: 2rem;
}
h3 {
  color: var(--middleBlue);
  display: block;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: bold;
}
h4 {
  color: var(--middleBlue);
  display: block;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: bold;
}

/* LINKS */
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--darkBlue);
}
a:link {
  color: var(--middleBlue);
}
a:visited {
  color: var(--middleBlue);
}
a:visited:hover {
  color: var(--darkBlue);
}

/* FONTS */
b {
  font-weight: bold;
}
i {
  font-style: italic;
}

/* INPUTS */
/* INPUTS */
input.main-input {
  height: 35px;
  font-weight: bold;
  border-radius: var(--miniRadius);
  padding: 5px;
  transition: background-color 0.5s;
  outline-color: var(--darkBlue);
  line-height: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
}

input.signin-input,
textarea {
  border-radius: var(--miniRadius);
  border: none;
  margin: 5px 0 10px 0;
  padding: 10px 10px;
  background-color: var(--lightGrey);
}

::placeholder {
  font-weight: normal;
  font-style: italic;
}

button.submit {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: var(--spaceBetweenBlocks);
  padding: 10px 15px;
  background-color: var(--middleBlue);
  color: white;
  font-weight: bold;
  border-radius: var(--miniRadius);
  border: none;
  cursor: pointer;
  overflow: hidden;
}
button.submit:hover {
  background-color: var(--darkBlue);
}

button.button {
  padding: 10px;
  background-color: var(--middleBlue);
  border-radius: var(--miniRadius);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  user-select: none;
}

button:hover {
  background-color: var(--darkBlue);
}

button.delete-button {
  background-color: var(--red);
  transition: 0.3s;
}

button.delete-button:hover {
  background-color: var(--hoveredRed);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid var(--middleBlue);
  box-shadow: 0 0 0px 1000px var(--lightGrey) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* FLEXBOX */
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
