/* MARGINS */
.infos-margin-right {
  margin-right: 20px;
  transition: margin-right 0.5s;
}
.infos-margin-left {
  margin-left: 25px;
  transition: margin-right 0.5s;
}
.infos-margin-bottom {
  margin-bottom: var(--spaceBetweenBlocks);
}

/* IMAGE */
.art-image-container {
  width: 80%;
  height: 250px;
  margin-bottom: var(--spaceBetweenBlocks);
}
.art-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* IS ON HOME INPUT */
.is-on-home-container {
  margin-bottom: 40px;
}
