/* MARGINS */
.infos-margin-right {
  margin-right: 20px;
  transition: margin-right 0.5s;
}
.infos-margin-left {
  margin-left: 25px;
  transition: margin-right 0.5s;
}
.infos-margin-bottom {
  margin-bottom: var(--spaceBetweenBlocks);
}

/* IMAGE */
.art-image-container {
  width: 80%;
  height: 250px;
  margin-bottom: var(--spaceBetweenBlocks);
}

.art-image {
  height: 100%;
}

.art-margin-right {
  margin-right: 5px;
}
.art-margin-left {
  margin-left: 5px;
}

/* IS ON HOME INPUT */
.is-on-home-container {
  margin-bottom: 40px;
}
