h1.signin-title {
  font-size: 4rem;
  margin-bottom: var(--spaceBetweenSections);
}

.signin-container {
  height: 100vh;
  width: 100vw;
}
form {
  width: 300px;
}
.gainz-logo {
  width: 80%;
  margin-bottom: var(--spaceBetweenSections);
}
.errorMessage {
  color: red;
  width: 300px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: var(--miniRadius);
}
.loader :focus {
  outline: none;
}
