h1 {
  font-size: 4rem;
  margin-bottom: var(--spaceBetweenSections);
}

.signin-container {
  height: 100vh;
  width: 100vw;
}
form {
  width: 300px;
}
.gainz-logo {
  width: 80%;
  margin-bottom: var(--spaceBetweenSections);
}
.errorMessage {
  color: red;
  position: absolute;
  width: 300px;
}
.loader :focus {
  outline: none;
}
