.select-box-border {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border: solid 2px var(--darkBlue);
  outline-color: var(--flashBlue);
}

.select-box-selected {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--middleBlue);
}
